<app-header></app-header>
<div class="container">
    <div class="mt-5 mb-4">
        <h3 class="text-center title" i18n>Acerca de Nosotros</h3>
        <h6 class="text-center" i18n>Quíenes somos?</h6>
    </div>

    <div class="col-8 m-auto text-justify mb-5">
        <p i18n>Lorenzo, es un melómano y coleccionista de música que ha pasado toda su vida recopilando álbumes musicales; periódicamente se reúne con sus amigos para compartir su música y hablar sobre las historias alrededor de las canciones o curiosidades de los artistas. Con el tiempo, Lorenzo notó que cada vez era más difícil encontrar sus canciones y por esto desarrolló <b>Ionic</b>, una aplicación para organizar su colección y buscar de forma fácil y rápida sus álbumes o canciones utilizando el título o nombre de un intérprete.</p>
        <p i18n><b>Ionic</b> te permite tener una cuenta personal en la que puedes ver el listado de los álbumes en tu colección, en caso de querer crear uno nuevo, la aplicación solicita la información del título, año de producción, descripción, los artistas que interpretaron las canciones, las canciones que contiene y el medio sobre el cual está grabado (discos, casetes o CD). El sistema permite hacer esto en cualquier momento, además de modificar sus datos, e incluso borrar los álbumes si ingresa alguno repetido o que se dañó y ya no se puede escuchar.</p>
        <p i18n>Cuando eliges un álbum de la lista, podrás ver su información y las canciones que tiene. Para las canciones del álbum, <b>Ionic</b> almacena su título, su intérprete y su duración, en minutos y segundos. La aplicación también permite editar esta información e incluso borrarla.</p>
        
        <p>Además de estas funcionalidades, en <b>Ionic</b> tendrás la capacidad de:</p>

        <ul>
            <li class="mb-3">
                <b i18n>Compartir con amigos:</b> Nuesros coleccionistas registrados en la aplicación pueden compartir sus álbumes y canciones con otros melomanos.
            </li>
            <li class="mb-3">
                <b i18n>Generar hilos de conversación:</b> En Ionic puedes comentar la información de los álbumes y canciones generando hilos de conversación sobre temas relevantes o curiosidades.
            </li>
            <li class="mb-3">
                <b i18n>Notificaciones:</b> Podrás saber cuándo las canciones y álbumes compartidos por otros coleccionistas han sido comentados y quién lo hizo.
            </li>
            <li class="mb-3">
                <b i18n>Puntuación:</b> Dependiendo de la calidad de los comentarios recibidos, los coleccionistas podrán calificarse entre sí. El promedio de las calificaciones recibidas se verá reflejado en el perfil del usuario.
            </li>
            <li class="mb-3">
                <b i18n>Canciones favoritas:</b> Los coleccionistas podrán seleccionar una canción como favorita y deseleccionarla cuando deseen. Este criterio será tenido en cuenta al buscar canciones pues las canciones favoritas que cumplan con el criterio de búsqueda aparecen siempre en las primeras posiciones.
            </li>
            <li class="mb-3">
                <b i18n>Filtrado:</b> Los coleccionistas registrados en la aplicación podrán filtrar álbumes y canciones por nombre, intérprete o género.
            </li>
        </ul>
    </div>

    <hr class="col-8 m-auto">

    <div class="my-5">
        <h3 class="text-center" i18n>Conoce Nuestro Equipo</h3>
        <h6 class="text-center" i18n>Descripción</h6>
    </div>

    <div class="row col-8 m-auto mb-5">
        <div class="col-xs-12 col-sm-6 col-md-3 mb-5 d-flex flex-column align-items-center text-center">
            <img class="mb-2" src="/assets/images/user_2.png" alt="User" width="90px">
            <h5>Heral Olivares</h5>
            <span i18n>Lider</span>
        </div>
        <div class="col-xs-12 col-sm-6 col-md-3 mb-5 d-flex flex-column align-items-center text-center">
            <img class="mb-2" src="/assets/images/user_1.png" alt="User" width="90px">
            <h5>Mateo Castaño</h5>
            <span i18n>Desarrollador</span>
        </div>
        <div class="col-xs-12 col-sm-6 col-md-3 mb-5 d-flex flex-column align-items-center text-center">
            <img class="mb-2" src="/assets/images/user_3.png" alt="User" width="90px">
            <h5>Juan Chiroque</h5>
            <span i18n>Desarrollador</span>
        </div>
        <div class="col-xs-12 col-sm-6 col-md-3 mb-5 d-flex flex-column align-items-center text-center">
            <img class="mb-2" src="/assets/images/user_4.png" alt="User" width="90px">
            <h5>Bryan Algutria</h5>
            <span i18n>Scrum Master</span>
        </div>
    </div>
</div>