<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
  <div class="container-fluid">
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarTogglerDemo01"
      aria-controls="navbarTogglerDemo01"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse">
      <div class="d-flex align-items-center justify-content-between w-100">
        <div class="d-flex align-items-center">
          <div class="ionic-header-container-logo">
            <img
              src="../../../assets/images/logo.png"
              alt="logo"
              class="ionic-header-logo img-fluid"
              (click)="goTo('./album')"
            />
          </div>
          <ul class="navbar-nav me-auto mb-2 mb-lg-0">
            <li class="nav-item">
              <a class="nav-link cursor-pointer" (click)="goTo('album')" i18n
                >Álbumes</a
              >
            </li>
            <li class="nav-item">
              <a class="nav-link cursor-pointer" (click)="goTo('cancion')" i18n
                >Canciones</a
              >
            </li>
            <li class="nav-item">
              <a class="nav-link cursor-pointer" (click)="goTo('acerca')" i18n
                >Acerca de</a
              >
            </li>
          </ul>
        </div>

        <div class="d-flex flex-row-reverse align-items-center">
          <a
            class="btn btn-light px-3 cursor-pointer"
            (click)="goTo('logIn')"
            i18n
            >Salir</a
          >
          <ng-container *ngFor="let language of languageList">
            <a class="m-2" href="/{{ language.code }}/"
              ><button class="button">{{ language.label }}</button></a
            >
          </ng-container>
        </div>
      </div>
    </div>
  </div>
</nav>
